/target
*.pydevproject
.project
.metadata
.springBeans
bin/**
tmp/**
tmp/**/*
.pmd
*.tmp
*.bak
*.swp
*~.nib
local.properties
testing.properties

.classpath
.settings/
.loadpath
.DS_Store

**/milton.license.properties
**/milton.license.sig
# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

**/IrodsWebdavVersion.java
/build
